<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

    <title>
      {% block title %}
      Control Transito
      {% endblock %}
    </title>
  </head>
  <body>
  <header>
    <!-- <img src="{% static 'images/logo.png' %}" height="10%" width="10%" alt="My image"> -->
    <h1>Control Transito </h1>
    <nav class="top_menu">
      <ul>
        {% if user.is_authenticated %}
          <li id="bienvenido" > <span class="nombre_usuario"> Bienvenido: {{user.username}} </span></li>
        {% endif %}
        <li><a href="{% url 'index'  %}">Inicio</a></li>
        <li><a href="{% url 'crear_multa'  %}">Agregar Multa</a></li>
 

        {% if user.is_authenticated %}
          <li><a href="{% url 'logout_view' %}">salir</a></li>
        {% else %}
          <li>[<a href="{% url 'login' %}">ingresar</a>]</li>
        {% endif %}

      </ul>
    </nav>
  </header>
  <section>
      {% block content %}
        <span>Bienvenidos:</span>
      {% endblock %}
  </section>
  {% include 'footer.html' %}
  </body>
</html>
